* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  flex: 1
}

/* bg_color	
  String	Optional. Background color in the #RRGGBB format.
  Also available as the CSS variable var(--tg-theme-bg-color).
*/
/* text_color	
  String	Optional. Main text color in the #RRGGBB format.
  Also available as the CSS variable var(--tg-theme-text-color).
*/
/* hint_color	
  String	Optional. Hint text color in the #RRGGBB format.
  Also available as the CSS variable var(--tg-theme-hint-color).
*/
/* link_color	
  String	Optional. Link color in the #RRGGBB format.
  Also available as the CSS variable var(--tg-theme-link-color).
*/
/* button_color	
  String	Optional. Button color in the #RRGGBB format.
  Also available as the CSS variable var(--tg-theme-button-color).
*/
/* button_text_color	
  String	Optional. Button text color in the #RRGGBB format.
  Also available as the CSS variable var(--tg-theme-button-text-color).
*/
/* secondary_bg_color	
  String	Optional. Bot API 6.1+ Secondary background color in the #RRGGBB format.
  Also available as the CSS variable var(--tg-theme-secondary-bg-color).
*/

body {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}
